/* JavaScript Password Generator */
body {
	background-color: #f3f3f3;
	font-family: 'Raleway', sans-serif, Helvetica;
	padding: 24px;
}
header {
	text-align: center;
	margin-bottom: 24px;
}
.main-box {
    background-color: #ffffff;
    padding: 56px;
    text-align: center;
    box-shadow: 2px 6px 20px 2px rgba(0,0,0.65,0.65);
    border-radius: 5px;
}
textarea {
    width: 90%;
    height: 125px;
    border: 3px dashed lightgrey;
    border-radius: 4px;
    padding: 16px;
    text-align: center;
}
button#create {
    background-color: red;
    color: #fff;
    width: 170px;
    padding: 8px;
    border-radius: 22px;
    font-weight: bold;
    border: 2px solid;
    margin-left: 4%;
}
button#copy {
    background-color: purple;
    color: #fff;
    width: 170px;
    padding: 8px;
    border-radius: 22px;
    font-weight: bold;
    border: 2px solid;
    margin-left: 4%;
}
